// Fonts

$ff-main: 'Comfortaa', Arial, sans-serif;
$ff-main-bold: 'Comfortaabold', Arial, sans-serif;
$ff-main-light: 'Comfortaalight', Arial, sans-serif;
$ff-heading: 'Lobster', Arial, sans-serif;
