include sections/header

main.blog
    .container
        p.main-heading.main-heading--green Обзоры
        .blog__top
            .blog__top-inner
                .blog__top-left
                    include sections/category-card
                    include sections/category-card
                    include sections/category-card
                .blog__top-right
                    include sections/post
                    include sections/post

include sections/footer