include sections/header

main.blog-post
    .container
        .blog__top
            .blog__top-inner
                .blog__top-left
                    include sections/category-card
                .blog__top-right
                    include sections/post

include sections/footer