include sections/header

main.category
    .container
        .category__heading Елки
        .category__top
            .category__top-inner
                .category__top-left
                    include sections/block-categories
                    include sections/advanced-search
                .category__top-right
                    .category__cover
                        img(src="img/category-1.jpg" alt="")
                    include sections/filtered-page
                    include sections/subcategory
                    include sections/product-list

    include sections/hits-of-sales
    .category__description
        .container
            .category__description-heading Особенности
            .category__description-inner
                h1 5&nbsp;ПРИЧИН КУПИТЬ ИСКУССТВЕННУЮ ЕЛКУ
                p Новый Год &laquo;на&nbsp;носу&raquo; и&nbsp;все мы&nbsp;стремимся купить красивую новогоднюю елку, чтобы создать в&nbsp;доме настоящую праздничную атмосферу. Но&nbsp;что делать, если хочется праздника, а&nbsp;губить живое деревце, из&nbsp;которого могла&nbsp;бы вырасти настоящая лесная красавица, не&nbsp;поднимается рука? Что делать, если не&nbsp;хочется тратить деньги на&nbsp;покупку елки каждый год? Или&nbsp;&mdash; для Вас проблематично везти объемную елку в&nbsp;общественном транспорте, Вы&nbsp;не&nbsp;любите убирать осыпавшуюся хвою, да&nbsp;к&nbsp;тому&nbsp;же выбрать красивую, симметричную елку также составляет проблему? Интернет-магазин &laquo;Різдво&raquo; предлагает отличное решение всех проблем: искусственная елка станет настоящим новогодним украшением, которое, к&nbsp;тому&nbsp;же, имеет массу преимуществ. Итак, 5&nbsp;преимуществ искусственных ёлок:

                h2 Продажа искусственных елок: в&nbsp;rizdvo.com.ua&nbsp;&mdash; лучшие условия!
                p Интернет-магазин &laquo;Різдво&raquo; предлагает лучшие условия на&nbsp;покупку красивых, стильных и&nbsp;качественных елок в&nbsp;любом городе Украины: поскольку у&nbsp;нас собственное производство, мы&nbsp;предоставляем все модели по&nbsp;самым низким ценам.
                p Преимущества наших искусственных елей и&nbsp;сосен:
                ul
                    li Все елки оборудованы подставкой;
                    li Будучи производителем, мы&nbsp;гарантируем качество;
                    li Мы&nbsp;производим все новогодние елки исключительно из&nbsp;гипоалергенных материалов;
                    li Весь товар ТМ&nbsp;&laquo;Різдво&raquo; имеет санитарно-эпидемиологическое заключение о&nbsp;безопасности;
                    li Все наши елки и&nbsp;сосны созданы из&nbsp;пожаробезопасных материалов.
                p Закажите искусственную елку прямо сейчас и&nbsp;оцените все преимущества нашей продукции!

include sections/footer