.about-store
    .container
        p.about-store__heading О нашем магазине
        .about-store__inner
            .about-store__top
                .about-store__video-wrap
                    iframe.about-store__video(width="100%" height="315" src="https://www.youtube.com/embed/qAUoyp2ITkk" allowfullscreen)
                .about-store__advantages
                    p.about-store__subheading Приемущества наших елок
                    ul
                        li
                            //- i.fa.fa-check(aria-hidden="true")
                            i.fa.fa-check-square(aria-hidden="true")
                            | Зеленые и пушистые ветки
                        li
                            //- i.fa.fa-check-circle-o(aria-hidden="true")
                            i.fa.fa-check-square(aria-hidden="true")
                            | Бесплатная доставка
                        li
                            //- i.fa.fa-check-circle(aria-hidden="true")
                            i.fa.fa-check-square(aria-hidden="true")
                            | В подарок комплект мешуры
                        li
                            //- i.fa.fa-check-square-o(aria-hidden="true")
                            i.fa.fa-check-square(aria-hidden="true")
                            | Возврат в течении 14 дней
                        li
                            i.fa.fa-check-square(aria-hidden="true")
                            | Замена в случае брака
            h2 Купить искусственную елку в&nbsp;интернет-магазине rizdvo.com.ua
            p Новый Год&nbsp;&mdash; главный светский праздник. Чем примечателен Новый Год? Новый Год&nbsp;&mdash; это подарки, шампанское, фейерверки&nbsp;и, конечно, ёлка. В&nbsp;канун праздника часто бывает так, что времени идти на&nbsp;рынок за&nbsp;живой ёлкой попросту нет. Кроме того, выбрать красивую натуральную ёлку бывает достаточно тяжело, да&nbsp;к&nbsp;тому&nbsp;же деньги на&nbsp;покупку живой ёлки приходится тратить ежегодно. Мы&nbsp;решаем все эти проблемы: закажите искусственную новогоднюю елку у&nbsp;нас и&nbsp;мы&nbsp;доставим гарантированно пышную, красивую елку прямо к&nbsp;Вам в&nbsp;квартиру. Купите ёлку один раз&nbsp;&mdash; экономьте каждый год!
            h2 Елки искусственные: в&nbsp;интернет-магазине &laquo;Різдво&raquo;&nbsp;&mdash; дешево!
            p Интернет магазин искусственных елок rizdvo.com.ua (Украина)&nbsp;&mdash; фирменный магазин от&nbsp;производителя, мы&nbsp;гарантируем самые выгодные цены в&nbsp;Киеве, Харькове, Днепре и&nbsp;других городах страны.
            p У&nbsp;нас&nbsp;Вы можете заказать в&nbsp;интернете искусственную елку, а&nbsp;оплатить покупку при получении. Доставка по&nbsp;адресу осуществляется в&nbsp;любое удобное для Вас время, доставка до&nbsp;отделения транспортной компании производится в&nbsp;день оформления заказа&nbsp;&mdash; мы&nbsp;работаем быстро!
            p &laquo;Різдво&raquo;&nbsp;&mdash; интернет магазин недорогих искусственных елок, которые отличаются великолепными эстетическими характеристиками и&nbsp;сохраняют первозданный вид долгие десятилетия. У&nbsp;нас&nbsp;Вы найдете большой ассортимент искусственных елок и&nbsp;сосен разных цветов и&nbsp;фактуры&nbsp;&mdash; от&nbsp;недорогих классических елок до&nbsp;моделей премиум-класса.