.advantages
    .container
        ul.advantages__list
            li.advantages__item
                a.advantages__link(href="#")
                    p.advantages__heading Никаких предоплат
                    p.advantages__subheading оплата при получении
            li.advantages__item
                a.advantages__link(href="#")
                    p.advantages__heading Бесплатная доставка
                    p.advantages__subheading по всей територии Украины*
            li.advantages__item
                a.advantages__link(href="#")
                    p.advantages__heading Собственное производство
                    p.advantages__subheading Доступные цены и Гарантия
            li.advantages__item
                a.advantages__link(href="#")
                    p.advantages__heading Безопасный и экологичный товар
                    p.advantages__subheading Европейское качество