.bestsell
    .container
        p.main-heading Аксессуары
        ul.bestsell__list
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Венки
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Корзинки
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Мишура
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Электрогирлянды
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Подставки
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Декор
            li.bestsell__item
                .bestsell__cover
                a.bestsell__link(href="#")
                    span.bestsell__title Игрушки