.blog-share
    .blog-share__title Поделиться записью
    ul.blog-share__list
        li.blog-share__item
            button.btn.btn--social.btn--twitter.btn--green
                span Tweet
        li.blog-share__item
            button.btn.btn--social.btn--facebook.btn--green
                span Facebook
        li.blog-share__item
            button.btn.btn--social.btn--google-plus.btn--green
                span Google+
        li.blog-share__item
            button.btn.btn--social.btn--pinterest.btn--green
                span Pinterest