.blog-meta-panel
    .blog-meta-panel__item
        time.post__date(datetime="2017-11-11T10:10:50+02:00") 11 Nov 2017, 10:10
    .blog-meta-panel__item
        a.post__category(href="#") Советы
    .blog-meta-panel__item
        a.post__likes 0 лайков
    .blog-meta-panel__item
        p.post__views 133 просмотров
    .blog-meta-panel__item
        p.post__comments 0 комментариев