.category-card
    p.category-card__title Советы
    ul.category-card__list
        li.category-card__item
            a.category-card__link(href="#")  Встречаем зимний праздник с малышом. О каких правилах безопасности вам следует помнить?
        li.category-card__item
            a.category-card__link(href="#") Новогодние лайфхаки