.delivery
    p.delivery__title
        i.fa.fa-truck(aria-hidden="true")
        | Доставка
    ul.delivery__list
        li.delivery__item Бесплатная доставка по&nbsp;Украине
        li.delivery__item Оплата при получении без дополнительных комиссий
        li.delivery__item Отправим в&nbsp;течении 2-3 дней
    p.delivery__title
        i.fa.fa-credit-card(aria-hidden="true")
        | Оплата
    ul.delivery__list
        li.delivery__item Наличными
        li.delivery__item Безналичными
        li.delivery__item Visa/MasterCard
    p.delivery__title
        i.fa.fa-handshake-o(aria-hidden="true")
        | Гарантия
    ul.delivery__list
        li.delivery__item 36&nbsp;месяцев от&nbsp;производителя
        li.delivery__item Обмен/возврат товара без проблем