footer.footer
    .footer__top
        .container
            .footer__top-inner
                .subscribe
                    form.subscribe__form
                        label.subscribe__label(for="newsletter-input") Подпишись на Акции
                        input(id="newsletter-input" type="email" placeholder="Введите ваш e-mail").subscribe__input
                        button(type="submit").subscribe__btn
                            i.fa.fa-chevron-circle-right
                .social
                    ul.social__list
                        li.social__item
                            a(href="https://www.facebook.com/cristmassy/").social__link
                                img(src="img/icons/facebook-logo.svg" width="55" height="51" alt="")
                        li.social__item
                            a(href="https://www.youtube.com/channel/UCnXaWkrxFawEURTR3q5rYOA").social__link
                                img(src="img/icons/youtube-logo.svg" width="55" height="51" alt="")
                        li.social__item
                            a(href="https://plus.google.com/+CristmasUatree").social__link
                                img(src="img/icons/google_plus-logo.svg" width="55" height="51" alt="")
                        li.social__item
                            a(href="https://www.instagram.com/elki_rizdvo/?hl=ru").social__link
                                img(src="img/icons/instagram-logo.svg" width="55" height="51" alt="")

    .footer__middle
        .container
            .footer__middle-inner
                .footer__links
                    .footer__links-inner
                        p.footer__heading Условия
                        ul.footer__list
                            li.footer__item
                                a(href="").footer__link О магазине
                            li.footer__item
                                a(href="").footer__link Контакты
                            li.footer__item
                                a(href="").footer__link Оплата и&nbsp;доставка
                            li.footer__item
                                a(href="").footer__link Документы
                    .footer__links-inner
                        p.footer__heading Помощь
                        ul.footer__list
                            li.footer__item
                                a(href="").footer__link Карта сайта
                            li.footer__item
                                a(href="").footer__link Возврат товара
                            li.footer__item
                                a(href="").footer__link Задать вопрос
                            li.footer__item
                                a(href="").footer__link Гарантия и&nbsp;поддержка
                    .footer__links-inner
                        p.footer__heading Сотрудничество
                        ul.footer__list
                            li.footer__item
                                a(href="").footer__link Оптовикам
                            li.footer__item
                                a(href="").footer__link Дропшиппинг
                            li.footer__item
                                a(href="").footer__link Статьи и&nbsp;обзоры
                            li.footer__item
                                a(href="").footer__link Личный кабинет
                .footer__contacts

                    p.work-hours
                        | Пн&nbsp;&mdash; Пт: с&nbsp;8:00 до&nbsp;20:00 <br>
                        | СБ&nbsp;&mdash; Вс: с&nbsp;9:00 до&nbsp;15:00

                    address.address
                        a.address__mail-link(href="mailto:info@rizdvo.com.ua") info@rizdvo.com.ua
                        a.address__office(href="https://goo.gl/maps/DB7XjmfqAgH2") г.&nbsp;Днепр, пр.&nbsp;Слобожанський,&nbsp;44,&nbsp;оф.211
    .footer__bottom
        .container
            p: img(src="" alt="")
            p Фабрика &laquo;Різдво&raquo;&nbsp;&mdash; избавит Вас от&nbsp;множества новогодних проблем на&nbsp;долгие годы! Купите рождественскую искусственную елку прямо сейчас с&nbsp;доставкой в&nbsp;Киев, Харьков, Одессу, Днепропетровск, Павлоград, Запорожье, Житомир, Донецк, Луцк, Львов, Новомосковск, Кривой&nbsp;Рог, Днепродзержинск и&nbsp;другие города Украины.
            p.copyright &copy;&nbsp;Все права защищены Рiздво&trade; 2018
            p.developers: a.developers__link(href="http://dev.prestashop-freelance.com/") Наша: Веб-студия