.hits
    .container
        p.hits__heading Искуственные Елки и Сосны
        ul.hits__list
            li.hits__item
                .hits__cover
                a.hits__link(href="#")
                    span.hits__title Елки
            li.hits__item
                .hits__cover
                a.hits__link(href="#")
                    span.hits__title Сосны
            li.hits__item
                .hits__cover
                a.hits__link(href="#")
                    span.hits__title Уличные