.homepage-slider
    .container
        ul.homepage-slider__list
            li.homepage-slider__item
                a.homepage-slider__link(href="")
                    img(src="https://rizdvo.com.ua/modules/homeslider/images/a4705212150d7378760193171677dfbaff993598_slide_4.jpg", alt="")