.oneclickcheckout
    form.oneclickcheckout__form(action="#")
        input.oneclickcheckout__input(type="tel" placeholder="+38(___) ___-__-__" required)
        button.btn.btn--green.btn--product(type="submit") Купить в 1 клик