.post
    .post__inner
        .post__top
            .post__cover
                a(href="#")
                    img(src="https://rizdvo.com.ua/modules/ph_simpleblog/covers/8-wide.jpg" alt="")
            h2.post__title
                a(href="#") Встречаем зимний праздник с&nbsp;малышом. О&nbsp;каких правилах безопасности вам следует помнить?
        .post__content
            p.
                У&nbsp;многих из&nbsp;нас зимний праздник вызывает ассоциацию со&nbsp;&laquo;сладким&raquo; столом, елочкой и&nbsp;фейерверками. Однако в&nbsp;данный период зачастую возникают всевозможные неприятные казусы. Они, в&nbsp;большей степени, случаются в&nbsp;семьях, в&nbsp;которых есть дети.
        a.btn.btn--green.btn--product.btn--right(href="blog-post.html") Читать далее

        include blog-meta-panel

        include blog-share

        include comments