.product-options
        ul.product-options__list
            li.product-options__item
                a.product-options__card
                    p.product-options__heading Безопасная
                    p.product-options__subheading Мягкие иголки безопасны для детворы
            li.product-options__item
                a.product-options__card
                    p.product-options__heading Практичная
                    p.product-options__subheading Легко собирается и&nbsp;разбирается
            li.product-options__item
                a.product-options__card
                    p.product-options__heading Долговечная
                    p.product-options__subheading Имеет надежный металлический каркас
            li.product-options__item
                a.product-options__card
                    p.product-options__heading Компактная
                    p.product-options__subheading Состоит из&nbsp;нескольких частей