.product-card
    .product-card__image
        a(href="product.html")
            img(src="https://rizdvo.com.ua/1442-home_default/elka-klassika-180.jpg" alt="")
    a.product-card__title(href="product.html") Елка Классика 180
    .product-card__rating
    .product-card__prices
        .product-card__price.product-card__price--current 860 Грн.
        .product-card__price.product-card__price--old 1000 Грн.
    .product-card__add-to-cart
        button.btn.btn--centered.btn--red В корзину
    p.product-card__label.product-card__label--stock
        span Акция!
    .product-card__features
        ul.product-card__features-list
            li.product-card__features-item
                p.product-card__features-option
                    span.product-card__features-title Высота
                    span.product-card__features-value 180см
            li.product-card__features-item
                p.product-card__features-option
                    span.product-card__features-title Диаметр
                    span.product-card__features-value 95см