.product-list
    ul.product-list__list
        li.product-list__item
            include product-card
        li.product-list__item
            include product-card
        li.product-list__item
            include product-card
        li.product-list__item
            include product-card
        li.product-list__item
            include product-card

    include pagination
