.quality
    .container
        p.main-heading Особености наших елок
        ul.quality__list
            li.quality__item
                img(src="img/features_ico_1.png" class="quality__icon" alt="")
                p.quality__title Пушистые ветки
            li.quality__item
                img(src="img/features_ico_2.png" class="quality__icon" alt="")
                p.quality__title Шарнирная конструкция
            li.quality__item
                img(src="img/features_ico_3.png" class="quality__icon" alt="")
                p.quality__title Легко собирается и разбирается
            li.quality__item
                img(src="img/features_ico_4.png" class="quality__icon" alt="")
                p.quality__title Ветки надежно прикреплены прочной нитью
            li.quality__item
                img(src="img/features_ico_5.png" class="quality__icon" alt="")
                p.quality__title Надежная упаковка
            li.quality__item
                img(src="img/features_ico_6.png" class="quality__icon" alt="")
                p.quality__title Прочная подставка