.reviews
    .container
        p.reviews__heading Отзывы покупателей
        ul.reviews__list
            li.reviews__item
                .reviews__item-inner
                    .reviews__item-left
                        p.reviews__top Последний отзыв о товаре
                            a(href="#") Елка Классика 180
                        .reviews__user-name Георгий
                        .reviews__rating Рейтинг
                        time.reviews__date(datetime="2018-06-13 19:00") 13 июня
                        .reviews__comment Большое спасибо за елочку! Все очень быстро: связались, доставили, оплатили - всего 3 дня! Радость  детям и взрослым!
                    .reviews__item-right
                        a.reviews__image-wrap(href="#")
                            img(src="img/elka-klassika-180.jpg", alt="")
                        .reviews__rating Рейтинг
                        a.reviews__title(href="#") Елка Классика 180
            li.reviews__item
                .reviews__item-inner
                    .reviews__item-left
                        p.reviews__top Последний отзыв о товаре
                            a(href="#") Елка Классика 180
                        .reviews__user-name Георгий
                        .reviews__rating Рейтинг
                        time.reviews__date(datetime="2018-06-13 19:00") 13 июня
                        .reviews__comment Большое спасибо за елочку! Все очень быстро: связались, доставили, оплатили - всего 3 дня! Радость  детям и взрослым!
                    .reviews__item-right
                        a.reviews__image-wrap(href="#")
                            img(src="img/elka-klassika-180.jpg", alt="")
                        .reviews__rating Рейтинг
                        a.reviews__title(href="#") Елка Классика 180