p.cms__heading Доставка и&nbsp;способы оплаты
img(src="https://rizdvo.com.ua/img/cms/kljuchevye_oplata_dostavka.jpg", alt="")
p.cms__heading Информация об&nbsp;оплате
p.cms__subheading Наложенный платеж (Нова пошта)
ul
    li Оплата товара осуществляется после его осмотра при получении заказа!
    li Адресная доставка будет удобна для тех, у&nbsp;кого нет возможности получить заказ в&nbsp;отделении компании Новая Почта. Стоимость услуги&nbsp;&mdash; 50&nbsp;грн.
img(src="https://rizdvo.com.ua/img/cms/novaposhtaru.jpg", alt="")
p.cms__subheading Внимание! Предоплата вносится&nbsp;за:
ul
    li Товары под заказ.
    li Елки высотой от&nbsp;250&nbsp;см.
    li Заказы, в&nbsp;которых количество елок составляет более 1&nbsp;шт.
p.cms__subheading Безналичный расчет
p
    strong Для физических лиц:
    |  Вы&nbsp;можете оплатить заказ через любой банк, действующий на&nbsp;территории Украины. Срок зачисления денежных средств&nbsp;&mdash; 2-3 рабочих дня. До&nbsp;момента поступления денежных средств мы&nbsp;не&nbsp;резервируем на&nbsp;складе товары Вашего заказа.
p
    strong Для юридических лиц:
    |  Все необходимые для бухгалтерии документы (оригинал счета на&nbsp;оплату, накладная) выдаются вместе с&nbsp;заказом при получении.
p.cms__subheading Платежная система Liqpay
p Платежный сервис, который позволяет совершать платежи с&nbsp;помощью платежных карт Visa, MasterCard.
p.cms__subheading Возврат денежных средств
p Возврат возможен в&nbsp;течение 1-10&nbsp;дней, в&nbsp;случае получения от&nbsp;Вас сообщения об&nbsp;ошибочно совершенном платеже или желании отменить заказ.
p.cms__heading Информация о&nbsp;доставке
p.cms__subheading Условия доставки
ul
    li БЕСПЛАТНАЯ ДОСТАВКА ПО&nbsp;ВСЕЙ ТЕРРИТОРИИ УКРАИНЫ. За&nbsp;пределы Украины товары не&nbsp;отправляем. Бесплатная доставка не&nbsp;распространяется на&nbsp;группу товаров: рождественские венки, электрогирлянды, мишура, подставки, игрушки, елки и&nbsp;сосны высотой до&nbsp;90&nbsp;см.
    li Заказы отправляем в&nbsp;течении 3-х рабочих дней после принятия, регистрации, подтверждения заказа.
    li Заказы менее 250 грн не&nbsp;отправляются.
    li Отгрузка товаров под заказ осуществляется только по&nbsp;предоплате.
p.cms__subheading Доставка товаров &laquo;Нова пошта&raquo; в&nbsp;любую точку Украины!
p Внимание! При получении заказа ПОЛУЧАТЕЛЬ ОБЯЗАН ИМЕТЬ ПРИ СЕБЕ ПАСПОРТ И&nbsp;ЗНАТЬ НОМЕР ДЕКЛАРАЦИИ (СООБЩАЕМ В&nbsp;ДЕНЬ ОТПРАВКИ). В&nbsp;случае отсутствия документов у&nbsp;получателя груз выдан не&nbsp;будет. Помните, заказ хранится на&nbsp;складе в&nbsp;месте прибытия бесплатно&nbsp;5 (пять) суток. После истечения времени бесплатного хранения, заказ возвращается обратно отправителю. При оформлении заказа не&nbsp;забывайте, пожалуйста, указывать номер, адрес наиболее удобного для Вас отделения Новой Почты.
p.cms__subheading Самовывоз
p Покупатель своими силами забирает товар с&nbsp;нашего склада, который находится по&nbsp;адресу: г. Днепр, ул.Тверская, 1&nbsp;(левый берег). Обязательно предварительно согласуйте визит, позвонив в&nbsp;call-центр!