p.cms__heading Сотрудничество елки оптом
img(src="https://rizdvo.com.ua/img/cms/kljuchevye_partneram.jpg", alt="")
p.cms__subheading Искусственные елки оптом
p Искусственные елки оптом по&nbsp;самой низкой цене можно купить только у&nbsp;производителя. Мы&nbsp;готовы произвести для вас любые объёмы продукции и&nbsp;сделать наше сотрудничество приятным и&nbsp;взаимовыгодным. Наши условия для оптовых покупателей&nbsp;&mdash; самые гибкие и&nbsp;лояльные на&nbsp;этом рынке.
ul
    li Работаем по&nbsp;предоплате.
    li Копию санитарно-эпидемиологического заключения и&nbsp;другие документы выдаем вместе с&nbsp;товаром.
    li В&nbsp;случае обнаружения дефекта оперативно меняем товар на&nbsp;аналогичный либо любой другой.
p Для получение оптового прайс-листа необходимо перейти по&nbsp;ссылке https://cristmas.eu на&nbsp;наш сайт для оптовых покупателей и&nbsp;заполнить и&nbsp;соответствующую форму.
p.cms__subheading Партнерская программа &laquo;Прямая поставка&raquo;
p
    srtong Хотите стать &laquo;елочным агентом&raquo;?
p
    srtong Присоединяйтесь к&nbsp;партнерской программе &laquo;Прямая поставка&raquo;!
p Если вы&nbsp;привыкли работать через интернет, любите общаться на&nbsp;форумах или ведете свой блог, вы&nbsp;можете получать хороший дополнительный доход, сотрудничая с&nbsp;нами.
a.btn.btn--red(href="#") Как это работает?