p.cms__heading Возврат товара и&nbsp;денежных средств
p Если Вы&nbsp;обнаружили, что, по&nbsp;ошибке, Вам доставлена другая модель, необходимо обратиться в&nbsp;службу поддержки клиентов с&nbsp;заявлением о&nbsp;замене товара.
p В&nbsp;случае обнаружения производственного дефекта, производим замену на&nbsp;аналогичный либо любой другой товар.
p.cms__subheading Для возврата товара необходимо:
ol
    li Прислать на&nbsp;почту info@cristmas.com.ua письмо с&nbsp;указанием номера заказа, наименованием товара и&nbsp;причиной возврата.
    li Если товар бракованный, прислать фотографии (2-3&nbsp;шт).
    li Отправить компанией &laquo;Новая почта&raquo; по&nbsp;адресу&nbsp;г. Днепропетровск, Отделение &#8470;&nbsp;3: ул. Тверская, 1. Получатель интернет-магазин ЧП&nbsp;Кравец А.А. тел.&nbsp;098&nbsp;261 17&nbsp;35 (после отправки, сообщите номер товаро- транспортной накладной)
p.cms__subheading Возврат денежных средств
p Для возврата денежных средств, необходимо направить на&nbsp;почту info@cristmas.com.ua письмо. В&nbsp;тексте письма должен быть указан номер заказа, наименование и&nbsp;количество товара, причина возврата денежных средств (аннуляция, ошибочный платеж и&nbsp;т.п.), банковские реквизиты получателя.
p.cms__subheading Возврат денежных средств осуществляется на&nbsp;карту Приват банка
p Если у&nbsp;покупателя другая карта, то&nbsp;с&nbsp;него взымается комиссия за&nbsp;отправку денег.
p.cms__subheading Возврат денежных средств наложенным платежом не&nbsp;производится
p Если возврат денежных средств осуществляется по&nbsp;вине продавца, то&nbsp;расходы на&nbsp;пересылку денег несет продавец. Если&nbsp;же вина покупателя, то&nbsp;он&nbsp;покрывает расходы по&nbsp;доставке.
p.cms__subheading Оплата доставки товара
p Если покупателю, по&nbsp;ошибке, доставлена не&nbsp;та&nbsp;модель или не&nbsp;полная комплектация товара, то&nbsp;расходы по&nbsp;доставке комплектующих или нужной модели несет продавец. В&nbsp;случае, если покупатель после получения товара по&nbsp;каким-либо личным причинам хочет отправить его обратно, то, доставку оплачивает сам покупатель.