p.cms__heading Гарантия и поддержка
p Вы&nbsp;можете отказаться от&nbsp;заказанного товара в&nbsp;любое время, до&nbsp;его получения, а&nbsp;после получения&nbsp;&mdash; в&nbsp;течение 14-ти дней.
p.cms__subheading Возврат товара надлежащего качества
p Возможен в&nbsp;случае, если сохранены его товарный вид (упаковка), потребительские свойства, а, также, документ, подтверждающий факт и&nbsp;условия покупки указанного товара (товарный или кассовый чек). Вы&nbsp;вправе обменять товар надлежащего качества на&nbsp;аналогичный в&nbsp;течение 14&nbsp;дней, с&nbsp;момента получения заказа, не&nbsp;считая дня покупки, в&nbsp;случае, если товар не&nbsp;подошел Вам по&nbsp;форме, расцветке, размеру. Если на&nbsp;момент Вашего обращения по&nbsp;обмену товара, аналогичный товар отсутствует в&nbsp;продаже, Вы&nbsp;можете отказаться от&nbsp;товара и&nbsp;потребовать возврат его стоимости.

p.cms__subheading Сезонные товары
p Искусственные елки, новогодние украшения и&nbsp;пр. надлежащего качества не&nbsp;подлежат возврату/обмену после новогодних праздников, если таковы были приобретены и&nbsp;получены до&nbsp;31&nbsp;декабря, без предъявлений претензий касательно качества непосредственно при получении товара.
p.cms__subheading Претензии по&nbsp;товару/заказу ненадлежащего качества
p Под товаром ненадлежащего качества подразумевается товар, который неисправен и&nbsp;не&nbsp;может обеспечить исполнение своих функциональных качеств. Отличие элементов дизайна от&nbsp;заявленных в&nbsp;описании на&nbsp;сайте не&nbsp;является неисправностью.
p.cms__subheading Порядок предъявления претензий по&nbsp;качеству товара
p Рассмотрение претензии занимает от&nbsp;1&nbsp;до&nbsp;14-ти рабочих дней. В&nbsp;некоторых случаях, после предварительного рассмотрения претензии может быть предложен ремонт или замена изделия.