.about-store {

	padding: 50px 0;

	&__inner {
		padding: 20px 20px;
		border: 2px solid #d2b467;
		border-radius: 20px;
		background: #fff;
	}

	&__top {
		display: flex;
		flex-direction: row;
		padding-bottom: 15px;
	}

	&__video-wrap,
	&__advantages {
		flex-basis: auto;
		width: 50%;
		padding: 15px;
		border: 2px solid #d2b467;
		border-radius: 10px;
	}

	&__video {
		display: block;
		border: none;
	}

	&__advantages {
		position: relative;
		margin-left: 15px;
		background: #005f27;
		color: #fff;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: -15px;
			width: 0;
			height: 0;
			border-top: 30px solid transparent;
			border-right: 15px solid #d2b467;
			border-bottom: 30px solid transparent;
			transform: translateY(-50%);
		}
	}

	&__subheading {
		font: normal 1.5rem/1.3 $ff-main-bold;
		margin: 0;
		padding: 10px 0 20px;
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		@include unstyled-list;
	}

	li {
		display: block;
		padding: 15px 0;
		font: normal 1rem/1.3 $ff-main;
	}

	.fa {
		font-size: 1rem;
		margin-right: 15px;
	}

}