.blog-share {

	padding: 20px 0;

	&__title {
		margin: 0;
		padding-bottom: 15px;
		font: normal 1rem/1.2 $ff-main-bold;
		color: $color-main-p;
		text-transform: uppercase;
	}

	&__list {
		@include unstyled-list;
	}

	&__item {
		display: inline-block;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}