.blog-meta-panel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px 0 0;
	padding: 5px;
	font: normal 0.875rem/1.2 $ff-main-light;
	color: $color-main-p;
	border-radius: 15px;
    background: #eee;

    &__item {
    	padding: 10px;
    }

    p,
    a {
    	margin: 0;
		font: normal 0.875rem/1.2 $ff-main-light;
		color: $color-main-p;
    }

    &--green {
    	background: $color-green;
    	color: #fff;

    	p,
    	a {
    		color: #fff;
    	}
    }
}