.hits {

	padding: 50px 0;
	background: #f3f3f3 url(../img/bg_gifts.png) repeat left top;

	&__heading {
		@include ribbon-heading;

		min-height: 80px;
		margin: 0 0 30px;
		padding: 5px 0;
		font: normal 2.5rem/1.3 $ff-heading;
		color: #fff;
		text-align: center;
		text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
	}

	&__list {
		@include unstyled-list;
		@include flex-list;
	}

	&__item {
		@include flex-item-row(3);

		position: relative;
		min-height: 360px;

		&:nth-child(1) .hits__cover {
			background: url(../img/tree-1.png) no-repeat center/contain;
		}
		&:nth-child(2) .hits__cover {
			background: url(../img/tree-2.png) no-repeat center/contain;
		}
		&:nth-child(3) .hits__cover {
			background: url(../img/tree-3.png) no-repeat center/contain;
		}
	}

	&__cover {
		height: 100%;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		z-index: 1;
		height: 100%;
		font: normal 1.5rem/1.3 $ff-main;
		color: #fff;
		text-align: center;
	}

	&__title {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;
	}

}