.oneclickcheckout {
	border: 2px dashed $color-green;
	padding: 10px 15px;

	&__form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__input {
		padding: 0 10px;
		border: 1px solid #000;
	}
}