.vertical-menu {

	border: 2px solid $color-main-border;
	border-radius: 15px;
	background-color: #fff;
	overflow: hidden;

	&__heading {
		padding: 15px 20px;
		font: normal 1.875rem/1.2 $ff-heading;
		color: #f7e2df;
		text-align: center;
		text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75);
		background-color: $color-green-main;
	}

	&__list {
		@include unstyled-list;
	}

	&__item {

		&:after {
		    content: "";
		    display: block;
		    height: 1px;
		    background-image: linear-gradient(to right, #c78644, #e0c57e 48%, #b28d32);
		}

		&:last-child:after {
			display: none;
		}

	}

	&__link {
		position: relative;
		display: block;
		padding: 15px 20px;
		font: normal 1.125rem/1.3 $ff-main-bold;
		color: $color-navy;

		&:hover,
		&--active {
			color: #000;
			text-indent: 1px;
			background: #f4f4f4;
		}

		&--active {

			cursor: not-allowed;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: -1px;
				width: 0;
				height: 0;
				border-top: 30px solid transparent;
				border-right: 15px solid #d2b467;
				border-bottom: 30px solid transparent;
				transform: translateY(-50%);
			}
		}

	}
}